<form class="flex flex-column flex-align-items-center" novalidate="">
    <div style="display:inline-block;">
        <div ng-init="questionIndex = $index" ng-repeat="question in currentAssessment.questions">
            <div class="flex flex-row flex-align-items-center">
                <div class="flex flex-column flex-height-sm background-gray-light flex-align-items-center flex-justify-content-center" style="margin:5px;border-radius:50%;width:50px; height:50px;">
                    <span style="font-size:2em; color:white;">
                        {{question.questionNumber | uppercase}}
                    </span>
                </div>
                <label class="flex flex-column flex-height-xs background-gray-lighter flex-align-items-center flex-justify-content-center" ng-class="{checkedInput: possibleAnswer === userAnswers.answerList[questionIndex].answer}" ng-repeat="possibleAnswer in question.possibleAnswers" style="margin:5px;border-radius:50%;width:40px; height:40px;">
                    <input name="{{question.questionNumber}}" ng-click="showInput()" ng-model="userAnswers.answerList[questionIndex].answer" style="position: absolute; clip: rect(0,0,0,0); pointer-events: none;" type="radio" value="{{possibleAnswer}}"/>
                    {{possibleAnswer | uppercase}}
                </label>
            </div>
        </div>
    </div>
    <div style="align-self: flex-start;">
        <div class="form-group">
            <label class="control-label">
                Seu nome (completo):
                <input class="form-control" ng-model="userAnswers.username" type="text"/>
            </label>
        </div>
        <div class="form-group">
            <button class="btn btn-success" ng-click="submitUserAnswers()" type="submit">
                Enviar gabarito
            </button>
        </div>
    </div>
</form>