<div class="panel panel-primary">
    <div class="panel-heading">
        <!-- qtde. de acertos -->
        <h3 align="center" class="panel-title">
            {{correctCount}}/{{evaluatedQuestionList.length}} acertos
        </h3>
    </div>
    <div class="panel-body flex flex-row flex-wrap flex-justify-content-center">
        <div ng-class="{'bg-primary': evaluatedQuestion.userAnswer === evaluatedQuestion.correctAnswer, 'bg-danger': evaluatedQuestion.userAnswer !== evaluatedQuestion.correctAnswer}" ng-repeat="evaluatedQuestion in evaluatedQuestionList" style="width: 45px; height: 45px; border-radius: 5px; margin:5px;">
            <div>
                <div align="center" style="border-bottom: 1px solid gray;">
                    {{evaluatedQuestion.questionNumber}}
                </div>
                <div align="center">
                    <span>
                        {{evaluatedQuestion.userAnswer | uppercase}}
                    </span>
                    <span class="text-primary" ng-show="evaluatedQuestion.correctAnswer !== evaluatedQuestion.userAnswer">
                        ({{evaluatedQuestion.correctAnswer | uppercase}})
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 align="center" class="panel-title">
            Por disciplina
        </h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li ng-class="{active: analysisBySubject === 1}" role="presentation">
                <a href="" ng-click="analysisBySubject=1">
                    Questão por questão
                </a>
            </li>
            <li ng-class="{active: analysisBySubject === 2}" role="presentation">
                <a href="" ng-click="analysisBySubject=2">
                    Percentual de acerto
                </a>
            </li>
        </ul>
        <!-- Primeiro tipo de análise por disciplina -->
        <div ng-show="analysisBySubject === 1">
            <div ng-repeat="subjectQuestions in sortedQuestionList" style="margin:10px 0px; padding: 0; border-radius:10px; border: 2px solid #5bc0de; display: flex; width: 100%;">
                <div class="bg-info flex flex-align-items-center flex-justify-content-center" ng-init="subjectQuestions.subject = subjectQuestions.subject.replace('/',' / ')" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; width: 25%; font-weight: bold; flex-grow:1">
                    <span>
                        {{subjectQuestions.subject}}
                    </span>
                </div>
                <div class="flex flex-row flex-wrap flex-justify-content-start" style="flex-basis:75%; flex-grow:3">
                    <div ng-class="{'bg-primary': question.userAnswer === question.correctAnswer, 'bg-danger': question.userAnswer !== question.correctAnswer}" ng-repeat="question in subjectQuestions.questionList" style="width: 45px; height: 45px; border-radius: 5px; margin:5px;">
                        <div>
                            <div align="center" style="border-bottom: 1px solid gray;">
                                {{question.questionNumber}}
                            </div>
                            <div align="center">
                                <span>
                                    {{question.userAnswer | uppercase}}
                                </span>
                                <span class="text-primary" ng-show="question.correctAnswer !== question.userAnswer">
                                    ({{question.correctAnswer | uppercase}})
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segundo tipo de análise por disciplina -->
        <div ng-show="analysisBySubject === 2">
            <div ng-repeat="subjectQuestions in sortedQuestionList" style="margin:10px 0px; padding: 0; border-radius:10px; border: 2px solid #5bc0de; display: flex; width: 100%;">
                <div class="bg-info flex flex-align-items-center flex-justify-content-center" ng-init="subjectQuestions.subject = subjectQuestions.subject.replace('/',' / ')" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px; width: 25%; font-weight: bold;">
                    <span>
                        {{subjectQuestions.subject}}
                    </span>
                </div>
                <div class="flex flex-column flex-align-items-center flex-justify-content-center" style="padding:5px; width:100%; height: 50px; flex-basis:75%;">
                    <div class="progress" style="width:100%; margin:0">
                        <div class="progress-bar progress-bar-success" ng-style="{'width': 100*subjectQuestions.correctCount/subjectQuestions.questionList.length + '%', 'height': '30px'}">
                            {{100*subjectQuestions.correctCount/subjectQuestions.questionList.length | number : 0}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>